
@{
    ViewBag.Title = "Index";
}

<div class="container" align="center">
        <h1 align = "center">Escolha uma Operação</h1>
        <div class="btn-group" >
                <div class="col-md-6"> <a href="@Url.Action("Saldo")"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;">Saldo       </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Saque")"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;">Saque       </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Deposito")"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;">Depósito    </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Transferencia")"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;">Transferência  </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Cheque")"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;">Cheque  </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Investimento")"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;">Investimento  </button> </a> </div>
                <div class="col-md-6"> <a href="@Url.Action("Pagamentos")"> <button class="btn-primary btn-lg" style="margin-left: 0%; margin-top: 20%;">Pagamentos  </button> </a> </div>
        </div>                 
</div>
