@model LoginBancoTeste.Models.Cliente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";    
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
            <p class="lead">Acesse sua conta conta realizando o login</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("Formulario","Autenticador")">
                    <span class="glyphicon glyphicon-off"></span>
                    Sign in
                </a>
            </p>
        </div>
}

@if(Model != null)
{
    <p>Bem vindo, @Model.Nome</p>

    <h3>Selecione a conta que deseja operar</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contas)
            {
                <tr>
                    <td>
                        <a class="btn btn-block" href="@Url.Action("Opcoes", "Transacoes", new { numero = item.Numero })" role="button">
                            @Html.DisplayFor(modelItem => item.Numero)
                        </a>                        
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.TipoDeConta)</td>
                </tr>
            }
        </tbody>
    </table>
}
