@model CaixaATM.Models.Conta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoProv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoProv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeConta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
