@model LoginBancoTeste.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>
<hr />
<h3>Tem certeza que deseja excluir este cliente?</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cliente</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Endereco.Rua),
                @Html.DisplayFor(model => model.Endereco.Cidade),
                @Html.DisplayFor(model => model.Endereco.Numero),
                @Html.DisplayFor(model => model.Endereco.Cep)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dl class="dl-horizontal">
                <dd>
                    <button type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        Excluir
                    </button>                                   
                </dd>
            </dl>            
        }
    </div>
</div>

<p>
    <a href="@Url.Action("Index", "Clientes")" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>
