@model LoginBancoTeste.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Rua),
            @Html.DisplayFor(model => model.Endereco.Cidade),
            @Html.DisplayFor(model => model.Endereco.Numero),
            @Html.DisplayFor(model => model.Endereco.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    
    <h4>Contas</h4> 
    <p>
        @Html.ActionLink("Cadastrar Nova", "Create", "Contas", new { ClienteId = Model.Id }, null)
    </p>
    @if (Model.Contas.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Numero
                </th>
                <th>
                    Saldo
                </th>
                <th>
                    Tipo de Conta
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Contas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saldo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDeConta)
                    </td>
                    <td>
                        @Html.ActionLink("Excluir", "Delete", "Contas", new { id = item.Numero }, null)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <hr />
    }  
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
