@model IEnumerable<LoginBancoTeste.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a href="@Url.Action("Create","Clientes")" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-plus"></span> 
        Cadastrar Cliente
    </a>         

    @using (Html.BeginForm())
    {
        <div class="input-group">            
            <span class="input-group-btn">                
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    Buscar
                </button>
            </span>
            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Procurar ..." })
        </div>
    }
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Clientes", new { id = item.Id })" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar
                </a>
                <a href="@Url.Action("Details", "Clientes", new { id = item.Id })" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-user"></span>
                    Detalhes
                </a>
                <a href="@Url.Action("Delete", "Clientes", new { id = item.Id })" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-trash"></span>
                    Excluir
                </a>
            </td>
        </tr>
    }
</table>
