@model CaixaATM.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

@foreach (var conta in Model.Contas)
{
    if (conta.TipoDeConta == CaixaATM.Models.TipoDeConta.CORRENTE)
    {
        <h4>Conta Corrente</h4>
    }
    else
    {
        <h4>Conta Poupança</h4>
    }
    <table>
        <thead>
            <tr>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => conta.Saldo)
                </td>
            </tr>
        </tbody>
    </table>
}


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
