@model IEnumerable<CaixaATM.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Rua),
            @Html.DisplayFor(modelItem => item.Endereco.Cidade),
            @Html.DisplayFor(modelItem => item.Endereco.Numero),
            @Html.DisplayFor(modelItem => item.Endereco.Cep)          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClienteID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ClienteID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
